@media (max-width: 1070px)
    .header
        &-nav
            &__item
                margin-right: 17px
@media (max-width: 992px)
    .header
        background-color: transparent
        &-nav
            display: none
        &-contact
            &__phone
                color: $white 
        &-contact
            margin-top: 28px
            &__phone
                margin-bottom: 13px                           