@import 'normalize'
@import 'font'
@import 'colors'

*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: 'ProximaNova'
    font-weight: normal
    font-size: 14px

@import 'interface'

@import 'block/header'
@import 'block/main'
@import 'block/type'
@import 'animation'
@import 'animate/fading_entrances/fadeInUp'
@import 'animate/base'
@import 'block/projects'
@import 'slick'
@import 'block/equipment'
@import 'block/clients'


@import 'media'            