.section-projects
    padding: 90px 0 80px
.projects
    background-color: $project-bg
    &__title
        margin: 0 0 25px
        position: relative
        &:after
            content: ''
            width: 31px
            height: 2px
            background-color: $form-button
            position: absolute
            left: 50%
            bottom: -27px
            transform: translateX(-50%)
    &__subtitle
        padding-top: 39px
        margin-bottom: 97px 
.slider
    &-project
        max-width: 405px
    &__title
        color: $black
        font-size: 24px
        font-weight: normal
        margin: 0 0 44px
    &__description
        display: block
        color: $slider-description
        font-size: 12px
        font-weight: 300
        line-height: 20px 
        margin-bottom: 8px
    &__name
        color: $black
        font-size: 16px
        font-weight: 300
        line-height: 20px 
        margin: 0 0 52px       
.content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &__title
        color: $slider-description
        font-size: 12px
        font-weight: 300
        line-height: 20px 
        margin: 0 0 7px
    &__text
        color: $black
        font-size: 16px
        font-weight: 300
        line-height: 20px
        margin: 0 -18px 0 0
    &__button
        margin-top: 62px
        width: 216px
        height: 60px
        background-color: $form-button
        text-transform: uppercase
        border: none
        font-size: 13px
        font-weight: normal
        letter-spacing: 0.33px
        color: $white
.wrap-slide
    position: relative
.projects__arrows
    position: absolute
    top: 44%
    width: 100%
.arrows
    &__left,
    &__right
        position: absolute
        width: 14px
        height: 26px
        cursor: pointer
    &__right
        right: -7px
    &__left
        left: 10px            
            