.section-projects
    padding: 96px 0 99px
.projects
    background-color: $project-bg
    &__title
        margin: 0 0 28px
        position: relative
        &:after
            content: ''
            width: 31px
            height: 2px
            background-color: $form-button
            position: absolute
            left: 50%
            bottom: -30px
            transform: translateX(-50%)
    &__subtitle
        padding-top: 40px
        margin-bottom: 99px 
.slider
    &-project
        max-width: 405px
    &__title
        color: $black
        font-size: 24px
        font-weight: normal
        margin: 3px 0 53px
    &__description
        display: block
        color: $slider-description
        font-size: 12px
        font-weight: 300
        line-height: 20px 
        margin-bottom: 18px
    &__name
        color: $black
        font-size: 16px
        font-weight: 300
        line-height: 20px 
        margin: 0 0 60px
.content
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &__title
        color: $slider-description
        font-size: 12px
        font-weight: 300
        line-height: 20px 
        margin: 0 0 16px
    &__text
        color: $black
        font-size: 16px
        font-weight: 300
        line-height: 20px
        margin: 0
    &__button
        margin-top: 67px
        width: 216px
        height: 60px
        background-color: $form-button
        text-transform: uppercase
        border: none
        font-size: 13px
        font-weight: normal
        letter-spacing: 0.33px
        color: $white
