.section-type
    padding: 101px 0 32px    
.type
    &__title
        margin: 0 0 25px
        position: relative
        &:after
            content: ''
            width: 36px
            height: 2px
            background-color: $form-button
            position: absolute
            left: 50%
            bottom: -27px
            transform: translateX(-50%)
